 *{
    background-color: rgb(7, 7, 7);
}

.header{
    color: rgb(252, 246, 246);
    text-align: left;
}

.container{
  list-style: none;
  padding-inline-start: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start
}

.add{
  display: flex;
  width: 100%;
}

.input{
  color: black;
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  flex: 1;
  margin-right: 10px;
}

.añadir{
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 10px;
}

.mi-boton:hover {
    background-color: #0056b3;
  }

.barras{
  background-color: rgb(36, 43, 44);
  color: rgb(249, 246, 246);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: 106%;
  margin-bottom: 10px; 
  justify-content: flex-start;
  margin-right: 39px;
  }

.barras svg{
  background-color: rgb(36, 43, 44);
  font-size: 24px;
  margin-left: 10px;
  }

  .checkbox {
    display: none;
  }
  
  .checkbox + label {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #f9fafb; 
    border: 1px solid #007bff; 
    border-radius: 50%; 
    cursor: pointer;
  }
  
  .checkbox:checked + label::before {
    content: "✔"; 
    font-size: 16px;
    color: #020202; 
    line-height: 20px;
    text-align: center;
  }
  
  .checkbox + label::before {
    content: ""; 
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }

.icons {
    background-color: rgb(36, 43, 44);
    display: flex;
  }

.garbage {
    background-color: rgb(36, 43, 44);
    color: red;
    margin-left: 10px; 
  }

.edit{
  color: #f7f2f2;
  background-color: rgb(36, 43, 44);
  margin-left: 10px;
} 

.container-clear{
  display: flex;
  justify-content: flex-end; 
}

.Botton-clear{
  width: 40%;
  padding: 10px 20px;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 10px;
  
}

 .input-editado{
  background-color: rgb(36, 43, 44);
  color: white;
 }
 
 .contenedor-ul{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
 }